<template>
  <el-form>
    <el-form-item label="账户">
      <el-input v-model.trim="user.name" />
    </el-form-item>
    <el-form-item label="邮箱">
      <el-input v-model.trim="user.email" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submit">修改密码</el-button>
    </el-form-item>
    <el-form-item>
      <el-dialog
        title="修改密码"
        :visible="dialogVisible"
        width="30%">
        <el-form>
          <el-form-item label="旧密码">
            <el-input/>
          </el-form-item>
          <el-form-item label="新密码">
            <el-input/>
          </el-form-item>
          <el-form-item label="重复新密码">
            <el-input/>
          </el-form-item>
        </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button @click="user.dialogPwd = false">取 消</el-button>
              <el-button type="primary" @click="user.dialogPwd = false">确 定</el-button>
            </span>
      </el-dialog>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: '',
          email: ''
        }
      }
    },
    dialogVisible: {
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  methods: {
    submit() {
      this.$message({
        message: 'User information has been updated successfully',
        type: 'success',
        duration: 5 * 1000
      })
    }
  }
}
</script>
