<template>
  <div class="sidebar-logo-container" :class="{'collapse':collapse}">
    <transition name="sidebarLogoFade">
      <div v-if="collapse" class="sidebar-logo-link">
        <img v-if="logo" :src="logo" class="sidebar-logo">
        <span class="sidebar-title">{{ title }} </span>
      </div>
      <div v-else class="sidebar-logo-link">
        <img v-if="logo" :src="logo" class="sidebar-logo">
        <span class="sidebar-title">{{ title }} </span>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'SidebarLogo',
  props: {
    collapse: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      // title: 'Vue Element Admin',
      title: '集吉象 · CRM系统',
      // logo: 'https://wpimg.wallstcn.com/69a1c46c-eb1c-4b46-8bd4-e9e686ef5251.png'
      logo: 'http://jjxphoto.jjxfamily.com/jjx-icon.png'
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #238d9e;
  text-align: center;
  overflow: hidden;

  & .sidebar-logo-link {
    display: flex;
    align-items: center;
    padding-left: 15px;
    /*justify-content: center;*/
    height: 100%;
    width: 100%;

    & .sidebar-logo {
      width: 35px;
      height: 35px;
      vertical-align: middle;
      margin-right: 10px;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-weight: 600;
      line-height: 50px;
      font-size: 13px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
</style>
