<template>
  <div class="app-container">
    <div class="filter-container">
      <el-col :span="24" style="margin-bottom: 20px;">
        <el-button icon="el-icon-arrow-left" @click="pageBack">返回</el-button>
      </el-col>
      <el-col :span="12">
        <el-form class="demo-form-inline" v-if="ftype===1">
          <el-form-item>
            <el-input
              type="textarea"
              :rows="5"
              placeholder="请输入跟踪记录"
              v-model.trim="followRecord">
            </el-input>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="24" v-if="ftype===1">
        <el-button class="filter-item" type="success" icon="el-icon-circle-plus-outline"
                   @click="createData" :loading="recordCreateBtn">
          新增
        </el-button>
      </el-col>
      <el-col :span="12" style="margin-top: 20px;">
        <el-collapse v-if="recordList.length" v-model="activeRecordID" @change="handleCollapse" accordion>
          <el-collapse-item v-for="item in recordList" :key="item.id" :title="`${item.time} ${item.record.substring(0, 8)}...`" :name="item.id">
            <el-input
              type="textarea"
              :rows="5"
              :disabled="ftype===2"
              v-model="recordObj[item.id]=item.record">
            </el-input>
            <div v-if="ftype===1">
              <el-button style="margin-top: 20px;" type="primary" icon="el-icon-edit" :loading="recordDelBtn" @click="recordUpdate"></el-button>
              <el-button style="margin-top: 20px;" type="danger" icon="el-icon-delete" @click="recordDel"></el-button>
            </div>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </div>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="careteForm" :rules="clientAddRules" :model="clientInfo" label-position="left" label-width="120px"
               style="width: 400px; margin-left:50px;">
        <el-form-item label="姓名" prop="name">
          <el-input v-model="clientInfo.name" placeholder="请填写客户姓名"/>
        </el-form-item>
        <el-form-item label="电话" prop="phone">
          <el-input v-model="clientInfo.phone" placeholder="请填写客户联系方式"/>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
          <el-radio-group v-model="clientInfo.sex">
            <el-radio :label="0">男</el-radio>
            <el-radio :label="1">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="意向级别" prop="intent">
          <el-select v-model="clientInfo.intent" class="filter-item" placeholder="请选择意向级别">
            <el-option label="无" value="0"/>
            <el-option label="A" value="1"/>
            <el-option label="B" value="2"/>
            <el-option label="C" value="3"/>
            <el-option label="D" value="4"/>
          </el-select>
        </el-form-item>
        <el-form-item label="客户来源" prop="source">
          <el-select v-model="clientInfo.source" class="filter-item" placeholder="请选择客户来源">
            <el-option label="请选择" value=""/>
            <el-option label="官网" value="2"/>
            <el-option label="抖音" value="3"/>
            <el-option label="朋友介绍" value="4"/>
            <el-option label="主动联系" value="5"/>
          </el-select>
        </el-form-item>
        <el-form-item label="是否行业内" prop="inbeing">
          <el-radio-group v-model="clientInfo.inbeing">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否参过会" prop="meeting">
          <el-radio-group v-model="clientInfo.meeting">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否来过公司" prop="company">
          <el-radio-group v-model="clientInfo.company">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否缴纳意向金" prop="payment">
          <el-radio-group v-model="clientInfo.payment">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="获取时间" prop="gainDate">
          <el-date-picker v-model="clientInfo.gainDate" type="date" placeholder="请选择获取客户资料的时间"/>
        </el-form-item>
        <el-form-item label="年龄" prop="age">
          <el-select v-model="clientInfo.age" class="filter-item" placeholder="请选择年龄">
            <el-option label="请选择" value=""/>
            <el-option label="25岁左右" value="2"/>
            <el-option label="35岁左右" value="3"/>
            <el-option label="45岁左右" value="4"/>
            <el-option label="55岁左右" value="5"/>
          </el-select>
        </el-form-item>
        <el-form-item label="微信/QQ号码" prop="wxorqq">
          <el-input v-model="clientInfo.wxorqq" placeholder="请填写微信或QQ号码"/>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="clientInfo.remark" :autosize="{ minRows: 2, maxRows: 4}" type="textarea"
                    placeholder="请填写备注"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          取消
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          保存
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel"/>
        <el-table-column prop="pv" label="Pv"/>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  // import {fetchList, fetchPv, createArticle, updateArticle} from '@/api/article'
  import {clientRecordList, clientRecordCreate, clientRecordUpdate, clientRecordDel} from '@/api/client'
  import waves from '@/directive/waves' // waves directive
  import {parseTime} from '@/utils'
  import Pagination from '@/components/Pagination' // secondary package based on el-pagination

  const calendarTypeOptions = [
    {key: 'CN', display_name: 'China'},
    {key: 'US', display_name: 'USA'},
    {key: 'JP', display_name: 'Japan'},
    {key: 'EU', display_name: 'Eurozone'}
  ]

  // arr to obj, such as { CN : "China", US : "USA" }
  const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
    acc[cur.key] = cur.display_name
    return acc
  }, {})

  export default {
    name: 'ComplexTable',
    components: {Pagination},
    directives: {waves},
    filters: {
      statusFilter(status) {
        const statusMap = {
          published: 'success',
          draft: 'info',
          deleted: 'danger'
        }
        return statusMap[status]
      },
      typeFilter(type) {
        return calendarTypeKeyValue[type]
      }
    },
    data() {
      return {
        recordObj: {}, // 具体的跟踪记录
        recordList: [], // 跟踪记录列表
        recordCreateBtn: false, // 新增记录按钮
        recordDelBtn: false, // 删除记录按钮
        cid: '',
        ftype: '',
        aaa: '与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；',
        followRecord: '',
        activeRecordID: '',
        hcgyOptions: [{
          value: '111',
          label: '是否行业内',
          children: [{
            value: '0',
            label: '否'
          }, {
            value: '1',
            label: '是'
          }]
        },
          {
            value: '222',
            label: '是否参过会',
            children: [{
              value: '0',
              label: '否'
            }, {
              value: '1',
              label: '是',
            }]
          },
          {
            value: '333',
            label: '是否来过公司',
            children: [{
              value: '0',
              label: '否'
            }, {
              value: '1',
              label: '是'
            }]
          },
          {
            value: '444',
            label: '是否缴纳意向金',
            children: [{
              value: '0',
              label: '否'
            }, {
              value: '1',
              label: '是'
            }]
          }],
        xnOptions: [{
          value: '111',
          label: '性别',
          children: [{
            value: '0',
            label: '男'
          }, {
            value: '1',
            label: '女'
          }]
        },
          {
            value: '222',
            label: '年龄',
            children: [{
              value: '2',
              label: '25左右'
            }, {
              value: '3',
              label: '35左右',
            }, {
              value: '4',
              label: '45左右',
            }, {
              value: '5',
              label: '55左右',
            }]
          }],
        tableKey: 0,
        list:
          null,
        total:
          0,
        listLoading:
          true,
        filterData: {
          name: '',
          phone: '',
          intent: '',
          source: ''
        },
        listQuery: {
          page: 1,
          limit:
            20,
          importance:
          undefined,
          title:
          undefined,
          type:
          undefined,
          sort:
            '+id'
        }
        ,
        importanceOptions: [1, 2, 3],
        calendarTypeOptions,
        sortOptions:
          [{label: 'ID Ascending', key: '+id'}, {label: 'ID Descending', key: '-id'}],
        statusOptions:
          ['published', 'draft', 'deleted'],
        showReviewer:
          false,
        clientInfo:
          {
            id: '',
            name:
              '',
            phone:
              '',
            sex:
              0,
            intent: '0', // 意向级别
            source:
              '',
            inbeing:
              0,
            meeting:
              0,
            company:
              0, // 来过公司
            payment:
              0, // 交过意向金
            gainDate:
              new Date(),
            age:
              '3',
            wxorqq:
              '',
            remark:
              '',
          }
        ,
        dialogFormVisible: false,
        dialogStatus:
          '',
        textMap:
          {
            update: '编辑',
            create:
              '新增'
          }
        ,
        dialogPvVisible: false,
        pvData:
          [],
        clientAddRules:
          {
            name: [{required: true, message: '请填写姓名', trigger: 'blur'}],
            phone:
              [{required: true, message: '请填写联系方式', trigger: 'blur'}],
            sex:
              [{required: true, message: '请选择性别', trigger: 'change'}],
            intent:
              [{required: true, message: '请选择意向级别', trigger: 'change'}],
            source:
              [{required: true, message: '请选择客户来源', trigger: 'change'}],
            inbeing:
              [{required: true, message: '请选择', trigger: 'change'}],
            meeting:
              [{required: true, message: '请选择', trigger: 'change'}],
            company:
              [{required: true, message: '请选择', trigger: 'change'}],
            payment:
              [{required: true, message: '请选择', trigger: 'change'}],
          }
        ,
        downloadLoading: false
      }
    },
    created() {
      this.cid = this.$route.params.cid;
      this.ftype = this.$route.params.type;
      this.filterData = this.$route.params.filterData;
      this.getClientRecordList();
      console.log(this.$route.params.cid);
    }
    ,
    methods: {
      // 返回
      pageBack() {
        const that = this;
        let name = 'clientManage';
        if (that.ftype === 2) {
          name = 'clientCommonManage';
        }
        that.$router.push({
          name: name,
          params: {
            filterData: this.filterData
          }
        });
      },
      // 新增跟踪记录
      createData() {
        const that = this;
        if (!that.followRecord) {
          this.$notify({
            title: '错误',
            message: '跟踪内容不允许为空',
            type: 'error',
            duration: 2000
          });
        } else {
          that.$confirm('确定保存吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'primary'
          }).then(() => {
            that.recordCreateBtn = true;
            that.clientInfo.pmid = that.$store.state.user.uid;
            clientRecordCreate({pm_id: that.$store.state.user.uid, c_id: that.cid, record: that.followRecord}).then(() => {
              that.$notify({
                title: '创建成功',
                message: '',
                type: 'success',
                duration: 2000
              });
              that.recordCreateBtn = false;
              that.getClientRecordList();
            });
          }).catch(() => {});
        }
      },
      // 跟踪记录删除
      recordDel() {
        const that = this;
        that.$confirm('确定删除吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          clientRecordDel({
            id: that.activeRecordID,
            pm_id: that.$store.state.user.uid,
            c_id: that.cid
          }).then(() => {
            that.$notify({
              title: '删除成功',
              message: '',
              type: 'success',
              duration: 2000
            });
            that.getClientRecordList();
          });
        }).catch(() => {});
      },
      // 跟踪记录修改
      recordUpdate() {
        const that = this;
        console.log(that.activeRecordID);
        that.recordDelBtn = true;
        clientRecordUpdate({
          id: that.activeRecordID,
          pm_id: that.$store.state.user.uid,
          c_id: that.cid,
          record: that.recordObj[that.activeRecordID]
        }).then(() => {
          that.$notify({
            title: '修改成功',
            message: '',
            type: 'success',
            duration: 2000
          });
          that.recordDelBtn = false;
          that.getClientRecordList();
        });
      },
      // 展开跟踪记录
      handleCollapse(e) {
        const that = this;
        console.log(that.activeRecordID);
        console.log(that.recordObj[that.activeRecordID]);
      },
      getClientRecordList() {
        const that = this;
        clientRecordList({c_id: that.cid, pm_id: that.$store.state.user.uid}).then(response => {
          that.recordList = response.data.data;
        })
      },
      handleFilter() {
        this.listQuery.page = 1
        this.getList()
      },
      handleModifyStatus(row, status) {
        this.$message({
          message: '操作Success',
          type: 'success'
        })
        row.status = status
      }
      ,
      sortChange(data) {
        const {prop, order} = data
        if (prop === 'id') {
          this.sortByID(order)
        }
      }
      ,
      sortByID(order) {
        if (order === 'ascending') {
          this.listQuery.sort = '+id'
        } else {
          this.listQuery.sort = '-id'
        }
        this.handleFilter()
      },
      // createData() {
      //   this.$refs['dataForm'].validate((valid) => {
      //     if (valid) {
      //       this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
      //       this.temp.author = 'vue-element-admin'
      //       createArticle(this.temp).then(() => {
      //         this.list.unshift(this.temp)
      //         this.dialogFormVisible = false
      //         this.$notify({
      //           title: 'Success',
      //           message: 'Created Successfully',
      //           type: 'success',
      //           duration: 2000
      //         })
      //       })
      //     }
      //   })
      // },
      handleUpdate(row) {
        this.temp = Object.assign({}, row) // copy obj
        this.temp.timestamp = new Date(this.temp.timestamp)
        this.dialogStatus = 'update'
        this.dialogFormVisible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].clearValidate()
        })
      }
      ,
      updateData() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            const tempData = Object.assign({}, this.temp)
            tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
            updateArticle(tempData).then(() => {
              const index = this.list.findIndex(v => v.id === this.temp.id)
              this.list.splice(index, 1, this.temp)
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Update Successfully',
                type: 'success',
                duration: 2000
              })
            })
          }
        })
      }
      ,
      handleDelete(row, index) {
        this.$notify({
          title: 'Success',
          message: 'Delete Successfully',
          type: 'success',
          duration: 2000
        })
        this.list.splice(index, 1)
      },
      handleDownload() {
        this.downloadLoading = true
        import('@/vendor/Export2Excel').then(excel => {
          const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
          const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
          const data = this.formatJson(filterVal)
          excel.export_json_to_excel({
            header: tHeader,
            data,
            filename: 'table-list'
          })
          this.downloadLoading = false
        })
      }
      ,
      formatJson(filterVal) {
        return this.list.map(v => filterVal.map(j => {
          if (j === 'timestamp') {
            return parseTime(v[j])
          } else {
            return v[j]
          }
        }))
      }
      ,
      getSortClass: function (key) {
        const sort = this.listQuery.sort
        return sort === `+${key}` ? 'ascending' : 'descending'
      }
    }
  }
</script>

<style>
</style>
