<template>
  <div class="app-container">
    <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
    <el-table :data="tableData" border highlight-current-row style="width: 100%;margin-top:20px;">
      <el-table-column v-for="item of tableHeader" :key="item" :prop="item" :label="item" />
    </el-table>
  </div>
</template>

<script>
import UploadExcelComponent from '@/components/UploadExcel/index.vue'
import {upload} from '@/api/user'

export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader: []
    }
  },
  methods: {
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1

      if (isLt1M) {
        return true
      }

      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      console.log(results);
      console.log(header);
      this.tableData = results;
      this.tableHeader = header;
      // this.tableData.forEach(item => {
      //   item.phone = `${item.phone}`;
      //   item.pm_id = 11;
      //   item.sex = 0;
      //   item.source = 66;
      //   item.intent = 0;
      //   item.industry = 24;
      //   item.is_inbeing = 0;
      //   item.is_meeting = 0;
      //   item.is_company = 0;
      //   item.is_payment = 0;
      //   item.is_del = 0;
      //   item.age = 0;
      //   item.wxorqq = '';
      //   item.remark = '';
      //   item.status = 1;
      //   item.gainDate = 1598371200;
      //   item.province = 370000;
      //   item.county = 370100;
      //   item.city = 370101;
      //   item.address = '山东省 济南市 市辖区';
      //   item.create_time = 1598371200;
      //   item.update_time = 1598371200;
      // });
      let newArr = [];
      this.tableData.forEach(item => {
        if (!item.a) {
          item.a = '';
        } else {
          newArr.push({
            c_id: item.c_id,
            record: item.a,
            pm_id: 11,
            is_del: 0,
            create_time: 1598371200,
            update_time: 1598371200
          });
        }
        if (!item.aa) {
          item.aa = '';
        } else {
          newArr.push({
            c_id: item.c_id,
            record: item.aa,
            pm_id: 11,
            is_del: 0,
            create_time: 1598371200,
            update_time: 1598371200
          });
        }
        if (!item.aaa) {
          item.aaa = '';
        } else {
          newArr.push({
            c_id: item.c_id,
            record: item.aaa,
            pm_id: 11,
            is_del: 0,
            create_time: 1598371200,
            update_time: 1598371200
          });
        }
        if (!item.aaaa) {
          item.aaaa = '';
        } else {
          newArr.push({
            c_id: item.c_id,
            record: item.aaaa,
            pm_id: 11,
            is_del: 0,
            create_time: 1598371200,
            update_time: 1598371200
          });
        }
      });
      console.log(newArr);
      upload({data: newArr}).then(response => {

      });
    }
  }
}
</script>
