<template>
  <div class="app-container">
    <div class="filter-container">
      <el-col :span="24">
        <el-form :inline="true" class="demo-form-inline">
          <el-form-item>
            <el-input v-model.trim="filterData.name" placeholder="客户名字" style="width: 150px;" class="filter-item" clearable/>
          </el-form-item>
          <el-form-item>
            <el-input v-model.trim="filterData.phone" placeholder="客户电话" style="width: 150px;" class="filter-item" clearable/>
          </el-form-item>
          <el-form-item>
            <el-select v-model="filterData.intent" class="filter-item" placeholder="意向级别">
              <el-option label="无" value="0"/>
              <el-option label="A" value="1"/>
              <el-option label="B" value="2"/>
              <el-option label="C" value="3"/>
              <el-option label="D" value="4"/>
            </el-select>
          </el-form-item>
          <el-form-item>
            <!--            <el-select v-model="filterData.source" class="filter-item" placeholder="客户来源">-->
            <!--              <el-option label="官网" value="0"/>-->
            <!--              <el-option label="抖音" value="1"/>-->
            <!--              <el-option label="公众号" value="2"/>-->
            <!--              <el-option label="百度推广" value="3"/>-->
            <!--              <el-option label="朋友推荐" value="4"/>-->
            <!--            </el-select>-->
            <el-cascader
              placeholder="客户来源"
              :options="sourceList"
              clearable
              v-model="filterData.source">
            </el-cascader>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="24">
        <el-form :inline="true" class="demo-form-inline">
          <el-form-item>
            <el-select clearable v-model="filterData.isInbeing" class="filter-item" placeholder="是否行业内">
              <el-option label="是" value="1"/>
              <el-option label="否" value="0"/>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select clearable v-model="filterData.isMeeting" class="filter-item" placeholder="是否参过会">
              <el-option label="是" value="1"/>
              <el-option label="否" value="0"/>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select clearable v-model="filterData.isCompany" class="filter-item" placeholder="是否来过公司">
              <el-option label="是" value="1"/>
              <el-option label="否" value="0"/>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-select clearable v-model="filterData.isPayment" class="filter-item" placeholder="是否缴纳意向金">
              <el-option label="是" value="1"/>
              <el-option label="否" value="0"/>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="24">
        <el-button v-waves class="filter-item" type="primary" @click="handleFilter">
          搜索/刷新
        </el-button>
        <el-button v-waves class="filter-item" type="info" icon="el-icon-zoom-out" @click="handleReplace">
          重置
        </el-button>
      </el-col>
    </div>

    <el-table
      v-loading="listLoading"
      :data="clientList"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange">
      <!--      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="80"-->
      <!--                       :class-name="getSortClass('id')" fixed>-->
      <!--        <template slot-scope="{row}">-->
      <!--          <span>{{ row.id }}</span>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
      <el-table-column
        type="index"
        fixed
        width="50"
        label="#"
        align="center">
      </el-table-column>
      <el-table-column label="项目经理" width="110px" align="center" fixed>
        <template slot-scope="{row}">
          <span>{{row.pm_name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="客户姓名" width="110px" align="center" fixed>
        <template slot-scope="{row}">
          <span>{{row.name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="电话" width="110px" align="center" fixed>
        <template slot-scope="{row}">
          <span>{{row.phone}}</span>
        </template>
      </el-table-column>
      <el-table-column label="地区" width="110px" align="center">
        <template slot-scope="{row}">
          <span>{{row.address}}</span>
        </template>
      </el-table-column>
      <el-table-column label="意向级别" width="150px" align="center">
        <template slot-scope="{row}">
          {{row.intent | intentFilter}}
        </template>
      </el-table-column>
      <el-table-column label="客户来源" align="center" width="150px">
        <template slot-scope="{row}">
          <span>{{row.source_type | sourceTypeFilter}} - {{row.source_name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="是否行业内" width="80px" align="center">
        <template slot-scope="{row}">
          <i v-if="row.is_inbeing" class="el-icon-check"></i>
          <i v-else class="el-icon-close"></i>
        </template>
      </el-table-column>
      <el-table-column label="是否参过会" width="80px" align="center">
        <template slot-scope="{row}">
          <i v-if="row.is_meeting" class="el-icon-check"></i>
          <i v-else class="el-icon-close"></i>
        </template>
      </el-table-column>
      <el-table-column label="是否来过公司" width="80px" align="center">
        <template slot-scope="{row}">
          <i v-if="row.is_company" class="el-icon-check"></i>
          <i v-else class="el-icon-close"></i>
        </template>
      </el-table-column>
      <el-table-column label="是否缴纳意向金" width="80px" align="center">
        <template slot-scope="{row}">
          <i v-if="row.is_payment" class="el-icon-check"></i>
          <i v-else class="el-icon-close"></i>
        </template>
      </el-table-column>
      <el-table-column label="主营业务" align="center" width="150px">
        <template slot-scope="{row}">
          <span>{{row.industry_name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="性别" width="110px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.sex | sexFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column label="年龄" width="110px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.age | ageFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column label="获取时间" width="110px" align="center">
        <template slot-scope="{row}">
          <span>{{row.gainDate}}</span>
        </template>
      </el-table-column>
      <el-table-column label="微信/QQ号码" width="110px" align="center">
        <template slot-scope="{row}">
          <span>{{row.wxorqq}}</span>
        </template>
      </el-table-column>
      <el-table-column label="备注" width="110px" align="center">
        <template slot-scope="{row}">
          <span>{{row.remark}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="150" class-name="small-padding fixed-width" fixed="right">
        <template slot-scope="{row,$index}">
          <el-button type="success" size="mini" @click="handleFollow(row)">
            查看
          </el-button>
          <el-button type="primary" size="mini" :loading="pullLoading" @click="handlePull(row)">
            捞取
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit"
                @pagination="getList"/>

    <el-dialog :title="textMap[dialogStatus]"
               :close-on-press-escape="false"
               :close-on-click-modal="false"
               :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="clientDataRules" :model="clientInfo" label-position="left" label-width="120px"
               style="width: 400px; margin-left:50px;">
        <el-form-item label="姓名" prop="name">
          <el-input v-model.trim="clientInfo.name" placeholder="请填写客户姓名" clearable/>
        </el-form-item>
        <el-form-item label="电话" prop="phone">
          <el-input v-model.trim="clientInfo.phone" placeholder="请填写客户联系方式" clearable/>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
          <el-radio-group v-model="clientInfo.sex">
            <el-radio :label="0">男</el-radio>
            <el-radio :label="1">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="地区" prop="reginfo">
          <el-cascader
            placeholder="可以搜索省市县名称"
            :options="areaInfo"
            v-model.trim="clientInfo.reginfo"
            @change="handleAddressChange"
            ref="cascaderAddr"
            filterable
            clearable
          ></el-cascader>
        </el-form-item>
        <el-form-item label="意向级别" prop="intent">
          <el-select v-model="clientInfo.intent" class="filter-item" placeholder="请选择意向级别">
            <el-option label="无" value="0"/>
            <el-option label="A" value="1"/>
            <el-option label="B" value="2"/>
            <el-option label="C" value="3"/>
            <el-option label="D" value="4"/>
          </el-select>
        </el-form-item>
        <el-form-item label="客户来源" prop="source">
          <el-cascader
            placeholder="请选择客户来源"
            :options="sourceList"
            clearable
            v-model="clientInfo.source">
          </el-cascader>
        </el-form-item>
        <el-form-item label="是否行业内" prop="inbeing">
          <el-radio-group v-model="clientInfo.inbeing">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否参过会" prop="meeting">
          <el-radio-group v-model="clientInfo.meeting">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否来过公司" prop="company">
          <el-radio-group v-model="clientInfo.company">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否缴纳意向金" prop="payment">
          <el-radio-group v-model="clientInfo.payment">
            <el-radio :label="0">否</el-radio>
            <el-radio :label="1">是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="主营业务" prop="industry">
          <el-select v-model="clientInfo.industry" class="filter-item" placeholder="请选择主营业务">
            <el-option label="请选择主营业务" value="0"/>
            <el-option v-for="item in industryList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value"/>
          </el-select>
        </el-form-item>
        <el-form-item label="年龄" prop="age">
          <el-select v-model="clientInfo.age" class="filter-item" placeholder="请选择年龄">
            <el-option label="请选择年龄" value="0"/>
            <el-option label="25岁左右" value="2"/>
            <el-option label="35岁左右" value="3"/>
            <el-option label="45岁左右" value="4"/>
            <el-option label="55岁左右" value="5"/>
          </el-select>
        </el-form-item>
        <el-form-item label="获取时间" prop="gainDate">
          <el-date-picker
            v-model="clientInfo.gainDate"
            :picker-options="pickerGainDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择获取客户资料的时间"/>
        </el-form-item>
        <el-form-item label="微信/QQ号码" prop="wxorqq">
          <el-input v-model.trim="clientInfo.wxorqq" placeholder="请填写微信或QQ号码"/>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="clientInfo.remark" :autosize="{ minRows: 2, maxRows: 4}" type="textarea"
                    placeholder="请填写备注"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          取消
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          保存
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel"/>
        <el-table-column prop="pv" label="Pv"/>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {fetchList, fetchPv, createArticle, updateArticle} from '@/api/article'
  import {clientCommonList, clientIndustryList, clientSourceList, pullClient} from '@/api/client'
  import waves from '@/directive/waves' // waves directive
  import {parseTime, nowDate} from '@/utils'
  import {getAreaInfo} from '@/utils/areainfo'
  import Pagination from '@/components/Pagination' // secondary package based on el-pagination



  export default {
    name: 'ComplexTable',
    components: {Pagination},
    directives: {waves},
    filters: {
      statusFilter(status) {
        const statusMap = {
          published: 'success',
          draft: 'info',
          deleted: 'danger'
        }
        return statusMap[status]
      },
      sexFilter(sex) {
        const sexMap = {
          0: '男',
          1: '女'
        };
        return sexMap[sex]
      },
      intentFilter(intent) {
        const intentMap = {
          0: '无',
          1: 'A',
          2: 'B',
          3: 'C',
          4: 'D'
        };
        return intentMap[intent]
      },
      ageFilter(age) {
        const ageMap = {
          0: '',
          2: '25岁左右',
          3: '35岁左右',
          4: '45岁左右',
          5: '55岁左右'
        };
        return ageMap[age]
      },
      sourceTypeFilter(type) {
        const typeMap = {
          1: '公司',
          2: '个人'
        };
        return typeMap[type]
      },
    },
    data() {
      const phoneValidator = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请填写手机号'));
        }
        if (!/[1]\d{10}/.test(value)) {
          callback(new Error('手机号格式错误'));
        }
        callback();
      };
      return {
        pullLoading: false,
        delLoading: false,
        comLoading: false,
        pickerGainDate: {
          disabledDate(time) {
            return time.getTime() > Date.now();
          },
          shortcuts: [{
            text: '今天',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          }, {
            text: '昨天',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          }, {
            text: '前天',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 2);
              picker.$emit('pick', date);
            }
          }]
        },
        tableKey: 0,
        clientList:
          null,
        total:
          0,
        listLoading:
          true,
        filterData: {
          name: '',
          phone: '',
          intent: '',
          source: '',
          sourceid: '',
          isInbeing: '',
          isMeeting: '',
          isCompany: '',
          isPayment: ''
        },
        filterDataCopy: {
          name: '',
          phone: '',
          intent: '',
          source: '',
          sourceid: '',
          isInbeing: '',
          isMeeting: '',
          isCompany: '',
          isPayment: ''
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        importanceOptions: [1, 2, 3],
        sortOptions:
          [{label: 'ID Ascending', key: '+id'}, {label: 'ID Descending', key: '-id'}],
        statusOptions:
          ['published', 'draft', 'deleted'],
        clientInfo:
          {
            pmid: '',
            name: '',
            phone: '',
            sex: 0,
            intent: '0', // 意向级别
            source: '',
            industry: '0',
            inbeing: 0,
            meeting: 0,
            company: 0, // 来过公司
            payment: 0, // 交过意向金
            gainDate: new Date(),
            age: '0',
            wxorqq: '',
            remark: '',
            address: '',
            reginfo: ''
          },
        clientInfoCopy:
          {
            pmid: '',
            name: '',
            phone: '',
            sex: 0,
            intent: '0', // 意向级别
            source: '',
            industry: '0',
            inbeing: 0,
            meeting: 0,
            company: 0, // 来过公司
            payment: 0, // 交过意向金
            gainDate: new Date(),
            age: '0',
            wxorqq: '',
            remark: '',
            address: '',
            reginfo: ''
          },
        industryList: [],
        sourceList: [],
        dialogFormVisible: false,
        dialogStatus:
          '',
        textMap:
          {
            update: '编辑',
            create:
              '新增'
          }
        ,
        dialogPvVisible: false,
        pvData:
          [],
        clientDataRules:
          {
            name: [{required: true, message: '请填写姓名', trigger: 'blur'}],
            phone: [{required: true, trigger: 'blur', validator: phoneValidator}],
            reginfo: [{required: true, message: '请选择地区', trigger: 'change'}],
            sex: [{required: true, message: '请选择性别', trigger: 'change'}],
            intent: [{required: true, message: '请选择意向级别', trigger: 'change'}],
            source: [{required: true, message: '请选择客户来源', trigger: 'change'}],
            inbeing: [{required: true, message: '请选择', trigger: 'change'}],
            meeting: [{required: true, message: '请选择', trigger: 'change'}],
            company: [{required: true, message: '请选择', trigger: 'change'}],
            payment: [{required: true, message: '请选择', trigger: 'change'}],
          }
        ,
        downloadLoading: false
      }
    }
    ,
    created() {
      if (this.$route.params.filterData) {
        this.filterData = Object.assign({}, this.$route.params.filterData);
        delete(this.$route.params.filterData)
      }
      this.getList();
      this.getAreaInfo();
      this.getClientSource(); // 获取客户来源列表
      this.getClientIndustry(); // 获取客户行业列表
    },
    methods: {
      getClientSource() {
        const that = this;
        const sourceList = [{
          value: '1',
          label: '公司',
          children: []
        }, {
          value: '2',
          label: '个人',
          children: []
        }];
        clientSourceList({}).then(response => {
          const rtdata = response.data;
          if (rtdata.length) {
            const tpa = [];
            const tpb = [];
            rtdata.forEach(item => {
              if (item.type === 1) {
                tpa.push(item);
              } else if (item.type === 2) {
                tpb.push(item);
              }
            });
            sourceList.forEach(item => {
              if (item.value === '1') {
                item.children = tpa;
              } else if (item.value === '2') {
                item.children = tpb;
              }
            });
          }
          this.sourceList = sourceList;
        })
      },
      // 获取客户所有行业
      getClientIndustry() {
        const that = this;
        clientIndustryList({}).then(response => {
          that.industryList = response.data;
        });
      },
      handleAddressChange() {
        this.clientInfo.address = this.$refs['cascaderAddr'].getCheckedNodes()[0].pathLabels;
      },
      getAreaInfo() {
        this.areaInfo = getAreaInfo();
      },
      // 查看跟踪记录
      handleFollow(row) {
        const that = this;
        that.$router.push({
          name: 'clientFollow',
          params: {
            cid: row.id,
            type: 2,
            filterData: that.filterData
          }
        });
      },
      // 捞取客户
      handlePull(row) {
        const that = this;
        that.$confirm('确定捞取吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          that.pullLoading = true;
          pullClient({
            c_id: row.id,
            pm_id: that.$store.state.user.uid
          }).then(() => {
            that.$notify({
              title: '捞取成功',
              message: '',
              type: 'success',
              duration: 2000
            });
            that.getList();
            that.pullLoading = false;
          });
        }).catch(() => {});
      },
      // getList() {
      //   this.listLoading = true
      //   fetchList(this.listQuery).then(response => {
      //     this.list = response.data.items
      //     this.total = response.data.total
      //
      //     // Just to simulate the time of the request
      //     setTimeout(() => {
      //       this.listLoading = false
      //     }, 1.5 * 1000)
      //   })
      // },
      getList() {
        const that = this;
        that.listLoading = true;
        clientCommonList(Object.assign({pm_id: 1, f_para: that.filterData, status: 2}, that.listQuery)).then(response => {
          that.clientList = response.data.data;
          that.total = response.data.total;
          that.listLoading = false;
        });
      },
      handleFilter() {
        console.log(this.filterData);
        const that = this;
        that.filterData.sourceid = '';
        if (that.filterData.source && that.filterData.source.length) {
          that.filterData.sourceid = that.filterData.source[1];
        }
        this.listQuery.page = 1;
        this.getList();
      },
      handleReplace() {
        this.filterData = Object.assign({}, this.filterDataCopy);
      },
      sortChange(data) {
        const {prop, order} = data
        if (prop === 'id') {
          this.sortByID(order)
        }
      },
      sortByID(order) {
        if (order === 'ascending') {
          this.listQuery.sort = '+id'
        } else {
          this.listQuery.sort = '-id'
        }
        this.handleFilter()
      },
      clearCreateData() {
        this.clientInfo = Object.assign({}, this.clientInfoCopy);
      },
      handleUpdate(row) {
        this.temp = Object.assign({}, row) // copy obj
        this.temp.timestamp = new Date(this.temp.timestamp)
        this.dialogStatus = 'update'
        this.dialogFormVisible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        });
      },
      updateData() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            const tempData = Object.assign({}, this.temp)
            tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
            updateArticle(tempData).then(() => {
              const index = this.list.findIndex(v => v.id === this.temp.id)
              this.list.splice(index, 1, this.temp)
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Update Successfully',
                type: 'success',
                duration: 2000
              })
            })
          }
        })
      },
      handleFetchPv(pv) {
        fetchPv(pv).then(response => {
          this.pvData = response.data.pvData
          this.dialogPvVisible = true
        })
      },
      handleDownload() {
        this.downloadLoading = true
        import('@/vendor/Export2Excel').then(excel => {
          const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
          const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
          const data = this.formatJson(filterVal)
          excel.export_json_to_excel({
            header: tHeader,
            data,
            filename: 'table-list'
          })
          this.downloadLoading = false
        })
      },
      formatJson(filterVal) {
        return this.list.map(v => filterVal.map(j => {
          if (j === 'timestamp') {
            return parseTime(v[j])
          } else {
            return v[j]
          }
        }))
      },
      getSortClass: function (key) {
        const sort = this.listQuery.sort
        return sort === `+${key}` ? 'ascending' : 'descending'
      }
    }
  }
</script>
<style>
</style>
