<template>
  <div class="app-container">
    <div>
      <el-row :gutter="20">
        <el-col :span="6" :xs="24">
          <user-card :user="user" />
        </el-col>
        <el-col :span="18" :xs="24">
          <el-card>
            <el-tabs v-model="activeTab">
              <el-tab-pane label="账号信息" name="account">
<!--                <account :user="user" :dialogVisible.sync="showDialog"/>-->
                <el-form>
                  <el-form-item label="账户">
                    <el-input v-model.trim="user.name" />
                  </el-form-item>
                  <el-form-item label="邮箱">
                    <el-input v-model.trim="user.email" />
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="updatePwd">修改密码</el-button>
                  </el-form-item>
                </el-form>
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </el-col>
      </el-row>
      <el-dialog
        title="修改密码"
        :visible="dialogPwd"
        width="30%">
        <el-form>
          <el-form-item label="旧密码">
            <el-input/>
          </el-form-item>
          <el-form-item label="新密码">
            <el-input/>
          </el-form-item>
          <el-form-item label="重复新密码">
            <el-input/>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
              <el-button @click="dialogPwd = false">取 消</el-button>
              <el-button type="primary" @click="dialogPwd = false">确 定</el-button>
            </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserCard from './components/UserCard'
// import Account from './components/Account'
import { test } from '@/api/client'

export default {
  name: 'Profile',
  components: { UserCard },
  data() {
    return {
      user: {},
      dialogPwd: false,
      activeTab: 'account',
      showDialog: false
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    this.getUser()
  },
  methods: {
    updatePwd() {
      this.dialogPwd = true;
    },
    getUser() {
      this.user = {
        name: this.$store.state.user.name,
        role: this.roles.join(' | '),
        email: 'admin@test.com',
        avatar: this.avatar
      };
    }
  }
}
</script>
