<template>
  <div class="app-container">
    <div>
      <el-row :gutter="20">
        <el-col :span="10" :xs="24">
          <el-card>
            <el-form :model="password" :rules="pwrules" ref="pwForm">
              <el-form-item label="旧密码" prop="old">
                <el-input type="password" v-model.trim="password.old" />
              </el-form-item>
              <el-form-item label="新密码" prop="new">
                <el-input type="password" v-model.trim="password.new" />
              </el-form-item>
              <el-form-item label="重复新密码" prop="nnew">
                <el-input type="password" v-model.trim="password.nnew" />
              </el-form-item>
              <el-form-item>
                <el-button type="primary" icon="el-icon-edit" @click="updatePwd">保存</el-button>
              </el-form-item>
            </el-form>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserCard from './components/UserCard'
// import Account from './components/Account'
import { updatePassword } from '@/api/user'

export default {
  name: 'Profile',
  components: { UserCard },
  data() {
    return {
      password: {
        old: '',
        new: '',
        nnew: ''
      },
      pwrules: {
        old: [
          { required: true, message: '请输入旧密码', trigger: 'blur' },
        ],
        new: [
          { required: true, message: '请输入新密码', trigger: 'blur' },
        ],
        nnew: [
          { required: true, message: '请再次输入新密码', trigger: 'blur' },
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    // this.getUser()
    this.clearRules();
  },
  methods: {
    clearRules() {
      this.$nextTick(() => {
        this.$refs['pwForm'].clearValidate();
      });
    },
    clearData() {
      this.password.old = '';
      this.password.new = '';
      this.password.nnew = '';
    },
    updatePwd() {
      const that = this;
      that.$refs['pwForm'].validate((valid) => {
        if (valid) {
          if (this.password.new.length < 6) {
            that.$notify({
              title: '错误',
              message: '新密码长度不能少于6个字符',
              type: 'error',
              duration: 5000
            });
          } else if (this.password.new !== this.password.nnew) {
            that.$notify({
              title: '错误',
              message: '两次新密码不一致',
              type: 'error',
              duration: 5000
            });
          } else {
            that.$confirm('确定保存吗?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              const md5 = that.$store.state.tool.MD5;
              updatePassword({
                'id': that.$store.state.user.uid,
                'o_pw': md5(that.password.old),
                'n_pw': md5(that.password.new)
              }).then(() => {
                that.$notify({
                  title: '修改成功',
                  message: '',
                  type: 'success',
                  duration: 2000
                });
                const loading = that.$loading({
                  lock: true,
                  text: '密码修改成功，需要重新登录',
                  spinner: 'el-icon-loading',
                  background: 'rgba(0, 0, 0, 0.7)'
                });
                that.clearData();
                setTimeout(() => {
                  that.$store.dispatch('user/logout');
                  that.$router.push(`/login`);
                  loading.close();
                }, 3000);
              });
            }).catch(() => {});
          }
        }
      })
    },
    // getUser() {
    //   this.user = {
    //     name: this.$store.state.user.name,
    //     role: this.roles.join(' | '),
    //     email: 'admin@test.com',
    //     avatar: this.avatar
    //   };
    // }
  }
}
</script>
